core-toolbar {
  background: $cyan;
  color: #fff;
  font-family: $roboto;

  &.expand {
    -webkit-animation: expandHeader 300ms ease-in-out;
    -moz-animation: expandHeader 300ms ease-in-out;
    -o-animation: expandHeader 300ms ease-in-out;
    animation: expandHeader 300ms ease-in-out;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    height: 192px;
  }

  &.reduce {
    -webkit-animation: reduceHeader 300ms ease-in-out;
    -moz-animation: reduceHeader 300ms ease-in-out;
    -o-animation: reduceHeader 300ms ease-in-out;
    animation: reduceHeader 300ms ease-in-out;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    height: 128px;
  }

  paper-tabs::shadow {
    #selectionBar {
      background-color: #fff;
      height: 3px;
    }
  }

  paper-tab::shadow #ink {
    color: #eee;
  }

  paper-icon-button::shadow {
    svg {
      fill: #fff;
    }

    #ripple {
      color: #fff;
    }
  }

  paper-input {
    width: 0;

    &.reveal {
      -webkit-animation: revealInput 300ms ease-in-out;
      -moz-animation: revealInput 300ms ease-in-out;
      -o-animation: revealInput 300ms ease-in-out;
      animation: revealInput 300ms ease-in-out;
      width: 30%;
    }

    &.fold {
      -webkit-animation: foldInput 300ms ease-in-out;
      -moz-animation: foldInput 300ms ease-in-out;
      -o-animation: foldInput 300ms ease-in-out;
      animation: foldInput 300ms ease-in-out;
      width: 0;
    }

    &::shadow {
      width: 100%;
      color: #fff;
      font-weight: 300;

      #underline {
        background: #fff;
        width: 75%;
      }

      .focusedColor {
        color: #fff;
        background: #fff;
      }
    }
  }
}