<core-toolbar class="medium-tall navbar-fixed-top" mode="waterfall-tall">
    <!--<paper-icon-button icon="menu" role="button" tabindex="0" onclick="document.querySelector('core-drawer-panel').togglePanel()"></paper-icon-button>-->
    <div flex="">
        <h3><span class="heavy-font">Louis</span>
            <span class="light-font"> Teboul</span></h3>
    </div>
    <paper-icon-button icon="more-vert" role="button" tabindex="0"></paper-icon-button>
    <div class="bottom fit" horizontal="" center-justified="" end="" layout="">

        <paper-tabs selected="0" flex="" style="max-width: 600px;">
            <paper-tab data-ng-repeat="tab in tabs"
                       class="{{$index == 0 ? 'core-selected' : ''}}" {{$index == 0 ? 'active' : ''}} data-ng-click="switch($index)">{{tab}}</paper-tab>
        </paper-tabs>
    </div>
</core-toolbar>