body {
  background: $cloud;
  padding-top: 128px;
  color: #333;
  font-family: $roboto;
  overflow-x: hidden;
}

#up-page {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  background-color: $teal;

  position: fixed;
  bottom: 10px;
  right: 10px;
}

inline-code-snippet {
  display: inline-block !important;
  padding: 2px !important;
}