// Colors
$white: #fff;
$cloud: #ecf0f1;
$cyan: #00bad2;
$belize: #2980b9;
$turquoise: #1abc9c;
$teal: #16a085;
$asphalt: #34495e;
$sunflower: #f1c40f;
$alizarin: #e74c3c;
$amethyst: #9b59b6;
$emerald: #2ecc71;
$nephrytis: #27ae60;

$colors: ($cyan, cyan), ($teal, teal), ($white, blanc), ($cloud, cloud), ($asphalt, asphalt), ($sunflower, sunflower), ($alizarin, alizarin), ($belize, belize), ($amethyst, amethyst), ($emerald, emerald), ($nephrytis, nephrytis);

// Fonts
$roboto: RobotoDraft, Helvetica, Arial, sans-serif;