<section class="blog-article">
    <p>As you may know, there has been a lot more talking around <a
            data-ng-href="http://polymer-project.org">Polymer</a> since they unveiled their new set of Paper Elements and the Material Design spec at Google I/O 2014 last week.</p>
    <p>Needless to say this announcement got me really excited about Polymer & Material Design (the blog you're reading is written using Polymer), and more specifically about using Polymer & AngularJS together.</p>
    <br/>
    <p>In this article, I'll be going over how you can easily leverage Polymer's <inline-code-snippet>&lt;core-animated-pages&gt;</inline-code-snippet> element to remove the need for <b>ngRoute</b> entirely, and even to replace <b>ngAnimate</b> if you're using it only for page transitions.<br/>
    And since <b>ngRoute</b> & <b>ngAnimate</b> are now separate modules in AngularJS, this means less bytes to download for your page to load, so that's another advantage.</p>
    <p>I will then go over how you can create an Angular directive to allow <b>ngModel</b> and 2-way data-binding to work on Polymer's <inline-code-snippet>&lt;paper-input&gt;</inline-code-snippet> element (you can see an example of it in action with the search box of this blog).</p>
    <br/>
    <h3 class="light-font">1. Angular routing with Polymer</h3>
</section>